In [ ]:
Collection: Collection is the gruop of the data i.e. similar and different data type.


 Two types: Similar and Different type
1.Similar: Array.
2. Diiferent: List , Dict, Tupple and Set.

In [ ]:
List:
1. Denoted by [] bracket.
2. List is a mutable.
3. It is collection obect type data.
4. List is class of collecton topic.
5. list is dynamic.

In [1]:
p=[1,2,3,4,5]
q=[3,2,3,4,2]
s=p+q
print(s)

[1, 2, 3, 4, 5, 3, 2, 3, 4, 2]

In [6]:
#sum of the list items
p=[1,2,3,4]
sum=0
for i in p:
    sum=sum+i
print(sum)

10

In [8]:
#program to find positive num and their sum.
a=[-1,3,5,-2,3,-6]
sum=0
for i in a:
    if i>0:
        sum=sum+i
print(sum)

11

In [10]:
#program to print all number in the list except multiple of 3
a=[1,2,3,4]
sum=0
for i in a:
    if i%3!=0:
        sum=sum+i
print(sum)

7

In [19]:
a=[[2,3],[3,4]]
total=0
for sublist in a:
    for element in sublist:
        total=total+element
print(total)

12

In [26]:
#sum the element of nested list element in a list.
a=[1,2,[2,3,4,5],4,5,[3,4,5]]
total=0
for i in a:
    if isinstance( i , list):
        for j in i:
            total=total+j
print(total)

26

In [39]:
# sum of  the didgt of each element of list

n=[12,23,12]

for i in n:
    sum=0
    for d in str(i):
        sum=sum+int(d)
    print(f"sum of the digit is {i}= {sum}")

sum of the digit is 12= 3
sum of the digit is 23= 5
sum of the digit is 12= 3

In [40]:
# multiply items in the list
a=[1,2,3,4]
mul=1
for i in a:
    mul=mul*i
print(mul)

24

In [44]:
# multi the only odd elemet in the list
a=[1,2,3,4,4,3,7]
m=1
for i in a:
    if i%2!=0:
        m=m*i
print(m)

63

In [45]:
# multi the element except zero
a=[1,3,0,3,0,9,0]
m=1
for i in a:
    if i!=0:
        m=m*i
print(m)

81

In [50]:
# multi the list item in the list without using loop
import math
a=[1,2,3,4]
result= math.prod(a)
print(result)

24

In [54]:
# multi as the commulative product
a=[1,2,3,4]
result=[]
m=1
for i in a:
    m=m*i
    result.append(m)
print(result)

[1, 2, 6, 24]

In [66]:
# get the largest element in the list
a=[1,3,4,5,6,4,5,6,4]
R=max(a)
print(R)

6

In [72]:
# remove the duplicate element the list
a=[1,3,4,5,6,4,5,6,4]
# result=list(set(a))
# print(result)

# result=[]
# for i in a:
#     if i not in result:
#         result.append(i)
# print(result)

[1, 3, 4, 5, 6]

In [84]:
import random
a=[2,3,2,1,2,4,5,6,44,5,6,7,4]
random.shuffle(a)

[]

In [94]:
a=[1,2,3,4]
a.insert(0,100)
print(a)

[100, 1, 2, 3, 4]

In [103]:
# print the max and min element in the list
a=[1,2,4,1,4,2,2,1,3,3,9]
maxi=max(a)
mini=min(a)
print(maxi)
print(mini)

9
1

In [106]:
a=[1,2,4,1,4,2,2,1,3,3,9]
even=0
odd=0
for i in a:
    if i%2==0:
        even=even+i
        print("even",i)
    else:
        odd=odd+i
        print("odd" , i)
print(even)
print(odd)

odd 1
even 2
even 4
odd 1
even 4
even 2
even 2
odd 1
odd 3
odd 3
odd 9
14
18

In [118]:
a=[1,2,4,1,4,2,2,1,3,3,9]
a=list(set(a))
a.sort()
print(a[1])

2