In [1]:
import pandas as pd
df=pd.read_csv(r"C:\Users\brije\OneDrive\Documents\Desktop\java\raw dataset.txt")
df

,Order_ID,Date,City,State,Product,Category,Quantity,Unit_Price,Discount,Customer_Type,Payment_Mode,Rating
0,1001,2023-01-05,Delhi,Delhi,Laptop,Electronics,2.0,55000,0.10,Regular,Credit Card,4.5
1,1002,2023-01-06,Mumbai,Maharashtra,Mobile,Electronics,1.0,22000,NaN,New,UPI,4.2
2,1003,2023-01-06,Bangalore,Karnataka,Headphones,Electronics,3.0,2000,0.05,Regular,Cash,3.8
3,1004,2023-01-07,Delhi,Delhi,Office Chair,Furniture,1.0,7500,0.15,Corporate,Credit Card,4.7
4,1005,2023-01-08,Kolkata,West Bengal,Table,Furniture,2.0,12000,0.20,Regular,Debit Card,4.1
5,1006,2023-01-08,Mumbai,Maharashtra,Laptop,Electronics,1.0,58000,0.30,New,UPI,2.1
6,1007,2023-01-09,Chennai,Tamil Nadu,Mobile,Electronics,2.0,21000,0.05,Regular,Credit Card,4.0
7,1008,2023-01-10,Delhi,Delhi,Bookshelf,Furniture,NaN,15000,0.10,Corporate,Debit Card,4.6
8,1009,2023-01-10,Bangalore,Karnataka,Laptop,Electronics,1.0,60000,NaN,New,Cash,3.2
9,1010,2023-01-11,Mumbai,Maharashtra,Headphones,Electronics,5.0,1800,0.50,Regular,UPI,1.8
10,1011,2023-01-12,Kolkata,West Bengal,Mobile,Electronics,1.0,23000,0.05,Corporate,Credit Card,4.9
11,1012,2023-01-13,Chennai,Tamil Nadu,Office Chair,Furniture,2.0,7200,NaN,Regular,Debit Card,3.5
12,1013,2023-01-14,Delhi,Delhi,Laptop,Electronics,3.0,54000,0.25,Corporate,Credit Card,2.5
13,1014,2023-01-15,Bangalore,Karnataka,Table,Furniture,1.0,12500,0.10,New,UPI,4.3
14,1015,2023-01-16,Mumbai,Maharashtra,Mobile,Electronics,4.0,21500,0.40,Regular,Cash,2.0