In [2]:
Function in Python: Block of statement that perform a specific task.

    def func_name( para1 , para2 ):
            #some work
            return value
    func_name(arg1, arg2) .... # function call

In [8]:
# Function definition
def calc_sum(a,b):  # Parameters
    c=a+b
    return c
print(calc_sum(2,3))  # function call / pass arguments
print(calc_sum(1,5))
print(calc_sum(5,6))

5
6
11

In [11]:
# Average of 3 number
def avg_num(n1,n2 ,n3):  # Parameter's
    avg= (n1+n2+n3)/3  # logic
    return avg
avg_num(1,2,3)     # arguments

2.0

In [16]:
# TYPE OF THE FUNCTION :
# 1} BUILT IN FINTION   >>>>>> Like as. print() , len() , type(), range() 
# empl:
a="hello python"
print(a)
print(len(a))
print(type(a))

# 2} USER DEFINE FUNCTION

hello python
12
<class 'str'>

In [27]:
# DEFAULT PARAMETER
def prod(a,b=5): # if we not pass argument then default value calc.
    print(a*b)
    return a*b
prod(5)

25

25

In [36]:
# WAF TO PRINT THE LENTH OF LIST( LIST IS USED AS A PARAMETER)
def len_list(a,list):
    print(len(a))
    return len(a)
len_list([1,2,34,5,3,4,5],list )

7

7

In [49]:
# WAF TO PRINT THE ELEMENT OF A LIST IN A SINGLE LINE. ( LIST IS THE PARAMETER)
a=[1,2,3,"akash","aditya"]
def val_list(a):
    for item in a:
        print(item, end=" ")
val_list(a)

1 2 3 akash aditya

In [59]:
# WAF TO FIND THE FACTORIAL OF N . ( N IS THE PARAMETER)
def fac(n):
    fac=1
    for i in range(1,n+1):
        fac=fac*i
    print(fac)
fac(5)

120

In [62]:
# CONVERT USD TO INR
def cnvrt(USD_val):
    inr_val=USD_val*83
    print(USD_val,"USD = ", inr_val)
cnvrt(3)

3 USD =  249

In [84]:
# input number (as parameter ) if num is odd prnt "ODD" and if number is even then print "even"
def check_num(num):

    if num%2==0:
        return "EVEN"
    else:
        return "ODD"
check_num(0)

'EVEN'

In [ ]:
RECURSION:  When a function calls itself repeatedly.

In [91]:
# Print n to 1 backwards using recursion
def show(n):
    if n==0:   # Base Case: it decide recursion kb ruke
        return
    print(n)
    show(n-1)
show(5)

5
4
3
2
1

In [26]:
# FACTOIAL USING RECURSION FUNTION
def fact(num):
    if num==0 or num==1:
        return 1
    else:
        return fact(num-1)*num
fact(5)

120

In [115]:
# WAP TO PRINT THE SUM OF FIRST N NATURAL NUMBER
def calc_sum(num):
    
    if num==0:
        return 0
    
    return calc_sum(num-1)+num
sum_natu(10)

55.0

In [129]:

def prt_list(list,idx=0):
    if (idx==len(list)):
        return
    print(list[idx],end=" ")
    prt_list(list,idx+1)
fruits=["apple","banana","litchi"]
prt_list(fruits)

apple banana litchi

In [2]:
# Practise question:
# Exercise 1: Create a function in Python
def func():
    return "hello world"

func()

'hello world'

In [3]:
# Exercise 3: Return multiple values from a function
def calc(a,b):
    return a+b
print(calc(2,3))
print(calc(1,4))
print(calc(5,6))

5
5
11

In [8]:
# Exercise 2: Create a function with variable length of arguments

def lenth():
    a="hello python"
    return len(a)
lenth()

12

In [10]:
# Exercise 4: Create a function with a default argument
def calc_avg(a=0,b=4,c=5):
    avg=(a+b+c)/3
    return avg
calc_avg()

3.0

In [22]:
# Exercise 5: Create an inner function
def outer_func():
    def inner_func():     # Using nested function
        print(" hello from inner function")
    inner_func()    # Calling inner function
outer_func()

 hello from inner function

In [30]:
# Exercise 6: Create a recursive function
def fact(num):
    if num==0 or num==1:
        return 1
    else:
        return fact(num-1)*num
fact(5)

120

In [32]:
# Exercise 7: Assign a different name to function and call it through the new name
def old_name():
    print(" hello python!")

new_name = old_name  # only asign function to another variable not use () parenthesis
new_name()

 hello python!

In [35]:
# Exercise 8: Generate a Python list of all the even numbers between 4 to 30
def list_val():
    even_list=[]
    for i in range(4,31):
        
        if i%2==0:
            even_list.append(i)

    return even_list
list_val()

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [38]:
# Exercise 9: Find the largest item from list
def lar_item():
    list=[1,4,2,37,2,35445]
    print(max(list))  # maximum element
lar_item()

35445

In [39]:
# Exercise: Find the smallest item from list
def smal_list():
    
    list=[1,4,2,37,2,35445]
    print(min(list))
smal_list()

1

In [44]:
# Exercise 10: Call Function using both positional and keyword arguments
def student_info(name,age,city):
    print("Name:", name)   
    print("Age:",age)
    print("City:",city)
student_info("Akash",18,"Azamgarh")

Name: Akash
Age: 18
City: Azamgarh

In [48]:
# Exercise 11: Create a function with keyword arguments
def info(**kwargs):
    for key, value in kwargs.items():
        print(key,":",value)
info(Name="Akash",Age=21,Course="BCA")

Name : Akash
Age : 21
Course : BCA

In [66]:
# Exercise 12: Modifies global variable
countt=10   # global variable
def update():
    global count
    count=30   # global variable modify
update()
count

30