In [ ]:
Set:
1.It is collection datatypes of python.
2. Set is unordered.
3. It stored only unique element , their is no duplicasy is allowed.
4. Set support mutability ( add/remove).
5. Indexing not allowed.
6. union="|",intersection="&",diff="-",symmetric diff="^"

In [ ]:
Use case of Set:
1.✔ Duplicate remove karna
2.✔ Membership testing (in) fast
3.✔ Mathematical operations (union, intersection

In [46]:
my_set = { 1,2,3,4,5,5} 
print(type(my_set))

<class 'set'>

In [47]:
my_set

{1, 2, 3, 4, 5}

In [48]:
# Duplicate elemnt not allowed in set.
a={1,2,3,4,5,5,6,6}
print(a)

{1, 2, 3, 4, 5, 6}

In [49]:
# Indexing not allowed
a={ 1,2,3,4}
print(a[0])

TypeError: 'set' object is not subscriptable

In [51]:
# add()
a={ 1,2,3,4,5,6,7}
a.add(5)

In [7]:
a

{1, 2, 3, 4, 5}

In [8]:
# Update the element
a={1,2,3,4,5}
a.update([1,2,3,4,5,6])
a

{1, 2, 3, 4, 5, 6}

In [52]:
# remove() , discard()
a={1,2,3,4,5}
a.remove(3)
a.discard(4)
a

{1, 2, 5}

In [53]:
# Remove the randam element.
a={1,2,3,4,5}
a.pop()
a

{2, 3, 4, 5}

In [21]:
a.clear()
a

set()

In [54]:
#merge the 2 set
a={1,2,3,4}
b={4,6,7,8}
print(a|b) # union
print(a&b) # intesection
print(a-b) # diff
print(a^b) # symmetric diff

{1, 2, 3, 4, 6, 7, 8}
{4}
{1, 2, 3}
{1, 2, 3, 6, 7, 8}

In [55]:
# loop is allowed in set
a={1,2,3,4}
for i in a:
    if i%2==0:
     print(i)

2
4

In [56]:
# Set is mutable but inside the se list or dict are allowed. 
A={1,2,[1,2]}
print(A)

TypeError: unhashable type: 'list'

In [57]:
# print the unique element from the list
list=[1,2,3,4,3,4,3,4,5,6,3]
unique=set(list)
print(unique)

{1, 2, 3, 4, 5, 6}

In [36]:
# Find the unique word.
s=" python is easy and python is powerful"
words=s.split()
unique_word=set(words)
print(unique_word)

{'python', 'and', 'is', 'easy', 'powerful'}

In [58]:
# fund the even element
s = {1, 2, 3, 4, 5, 6}
even={ i for i in s  if i%2==0} #commprehension method
even

{2, 4, 6}

In [3]:
# Adding the set and list.
sample_set = {"Yellow", "Orange", "Black"}
sample_list = ["Blue", "Green", "Red"]
list=set(sample_list)
result=(sample_set) | (list)
result

{'Black', 'Blue', 'Green', 'Orange', 'Red', 'Yellow'}

In [5]:
a1={1,2,3,4,"akash","anil"}
a2={2,3,6,3,"aditya","anil"}
result=a1 & a2
result

{2, 3, 'anil'}

In [6]:
a1={1,2,3,4,"akash","anil"}
a2={2,3,6,3,"aditya","anil"}
a1.union(a2)

{1, 2, 3, 4, 6, 'aditya', 'akash', 'anil'}

In [17]:
set1 = {10, 20, 30, 40, 50}
set1.difference_update({10,20,30})  # remove the more than one element from the set
set1

{40, 50}

In [23]:
# check a2 is subset of a1.
a1={ 1,2,3,4,5,6,7,8}
a2={2,3,4}
a2.issubset(a1)

True

In [24]:
set1 = {10, 20}
set2 = {10, 20, 30, 40}
set2.issuperset(set1)

True

In [25]:
a={}
type(a)

dict

In [34]:
# Check two set have common element then print the value.
a={1,2,3,4}
b={2,6,7,8}
if a.isdisjoint(b):
    print(" their is no common element ")
else:
    print(" two set have  common element ")
    print(a.intersection(b))

 two set have  common element
{2}

In [35]:
# it print the  symmetric diff. from two set.
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1 ^ set2

{10, 20, 60, 70}

In [39]:
set1={10,20,30,40,50}
set2={30,40,50,60,70}
set1.intersection_update(set2)
set1

{30, 40, 50}

In [43]:
# find the common element from the two list.
list1=[1,3,4,5,6]
list2=[1,2,3,7,8,9]
for i in list1:
    for j in list2:
        if i==j:
            print(i)

1
3

In [ ]:
#FROZEN SET: Use the frozenset() constructor. Remember that frozen sets are immutable, meaning their contents cannot be changed after creation.

In [45]:
# Make them in frozen set.
list=[1,2,3,4,5]
frozen_set=frozenset(list)
print(f"this is frozen set: {frozen_set}")

this is frozen set: frozenset({1, 2, 3, 4, 5})