#### Tuple:
1. A tuple is a collection of similar to a python list. The primary difference is that we cannot modify a tuple once it is created.
2.A Tuple in python is an immutable ordered colletion of elements.
3. Tuple can hold elements of different datatypes.
4. Tuple denoted by parenthesis ().
5. Tuple store data on index d firt index by default index in tuple.
6. Tuple is a class of collection.

In [11]:
k=(23,4,45,34,34,34,"True","A",23.4,"Akash")
k

(23, 4, 45, 34, 34, 34, 'True', 'A', 23.4, 'Akash')

In [2]:
type(k)

tuple

In [4]:
a=(2,)
type(a)

tuple

In [5]:
k[0]

23

In [6]:
k[3]="akki"  # It is immutable
k

TypeError: 'tuple' object does not support item assignment

In [9]:
k.index(34)

3

In [12]:
k.count(34)

3

In [17]:
# slicing 
print(k[::])
print(k[2:8])
print(k[-1])

(23, 4, 45, 34, 34, 34, 'True', 'A', 23.4, 'Akash')
(45, 34, 34, 34, 'True', 'A')
Akash

In [18]:
for i in k:
    if (type(i)==str):
        print(i)

True
A
Akash

In [21]:
for i in k:
    if (type(i)==float):
        print(i)

23.4

In [22]:
t=1,2,3,4
type(t)

tuple

In [23]:
tup=(10,20,30)
a,b,c=tup
print(a)
print(b)
print(c)

10
20
30

In [24]:
# tuple to list convert
tup=(1,2,3,4)
lis=list(tup)
type(lis)

list